@use "sass:map";
$base-midea-width: 769px;

$bg-colors: (
    "html": black,
    "title-bar": rgb(31, 31, 31),
    "left-menu": rgb(0, 0, 0),
    "mask": rgb(255, 255, 255),
);

@media (max-width: $base-midea-width) {
    #left_area {
        display: none;
    }
    #menu_btn {
        display: block;
    }
}

#menu_btn_area {
    background-color: map.get($bg-colors, "title-bar");
    width: 100%;
    height: 50px;
    flex-direction: row;
}

@media screen and (min-width: $base-midea-width) {
    #left_area {
        display: block;
        // position: absolute;
    }
    #menu_btn {
        display: none;
    }
}
#menu_btn {
    cursor: pointer;
}

html {
    background-color: map.get($bg-colors, "html");
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #fbfbfb;

    position: relative;
}
#mask {
    display: none;
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;
    background-color: map.get($bg-colors, "mask");
    opacity: 10%;
}
.container {
    display: flex;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #d3d3d4;

        &.router-link-active {
            color: #42b983;
        }
    }
}

#right_area {
    background-color: map.get($bg-colors, "d2");
    width: 100%;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;
}
.title_bar {
    height: 150px;
}
.title_bar span {
    font-size: xx-large;
    font-weight: bold;
}

.title_bar span:first-child {
    cursor: pointer;
}

.title_bar span:first-child:hover {
    opacity: 0.7;
}
.nav_item {
    padding: 1%;
    margin-bottom: 3%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 15px;
}
.nav_item:hover {
    opacity: 0.7;
}
.nav_item > p {
    padding-left: 1%;
}

#user_info {
    max-height: 150px;
}
main {
    width: 100%;
}

#user_info {
    height: 250px;
}

.paging_cur_btn {
    background-color: burlywood;
}
