@use "sass:map";

$price-colors: (
    "up": red,
    "down": blue,
    "eq": black,
);
.txt-red {
    color: map.get($price-colors, "up") !important;
}
.txt-blue {
    color: map.get($price-colors, "down") !important;
}
.txt-black {
    color: map.get($price-colors, "eq") !important;
}
