$table_price_color : #000000;
$table_date_color : #2a2a2a;

#stock_view {
    font-size: 12px;
    width: 10 0%;
    margin: auto;
    .grid_market_area {
        background-color: rgba(255, 255, 255, 0.259);
    }
    .grid_price_area {
        background-color: rgb(42, 42, 42);
    }
    .clickable {
        cursor: pointer;
    }
    .a_color {
        color: black;
    }

    .grid_table_area {
        .td_date {
            color: $table_date_color;
        }
        .td_price {
            color: $table_price_color;
        }
        .tl {
            text-align: left;
        }
        .tr {
            text-align: right;
        }
        .tc {
            text-align: center;
        }
        .p_type_th {
            height: 100px;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
        }

        table {
            width: 90%;
            margin: auto;
        }

        td,
        th {
            border: 1px solid rgb(109, 108, 108);
            padding: 7px 5px;
        }

        th {
            background-color: rgb(104, 98, 98);
        }

        td {
            text-align: center;
        }
        tr:nth-child(even) {
            background-color: #777474;
        }
        tr:nth-child(odd) {
            background-color: #a39f9f;
        }
        // tr:hover:nth-child(even) td {
        //   background-color: rgb(250, 250, 250);
        // }

        // tr:hover:nth-child(odd) td {
        //   background-color: rgb(240, 240, 240);
        // }
        tr:hover {
            background-color: rgb(103, 136, 109);
        }
        // tr:hover {
        //   background-color: yellow ;
        // }
    }
}
